$stanchion-red: #d90815;
$black: #000000;
$white: #ffffff;

$level-one: 10;
$level-two: 20;
$level-three: 30;
$level-four: 40;
$level-five: 50;

$break-wide: 1400px;
$break-desktop: 1024px;
$break-tablet: 840px;
$break-mobile-wide: 520px;
$break-mobile: 400px;
