.post-content {
    width: 80vw;
    max-width: 76rem;
    margin: 2rem auto 10rem;

    &__subtitle {
        margin-bottom: 2rem;
        font-family: "Montserrat", Arial, 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 2rem;
        font-style: italic;
        font-weight: 700;
        color: black;
        text-transform: none;
    }

    @media (max-width: $break-mobile-wide) {
        width: 100vw;
        max-width: 90vw;
        margin: 1rem auto 6rem;

        &__subtitle {
            font-size: 1.6rem;
            line-height: 1.6;
        }
    }

    h2 {
        font-size: 1.8rem;
    }
}
