.post-list {
    $this: &;
    margin: 0 2rem 4rem;

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 20rem;
        grid-auto-rows: 20rem;
        grid-gap: 2rem;
        margin: 0;
        padding: 0;
    }

    &__post {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
        background-color: $stanchion-red;
        background-blend-mode: multiply;
        background-position: center;
        background-size: cover;
        transition: background-color ease .2s;

        &:first-child {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;

            #{$this}__post-title {
                font-size: 3rem;
            }
        }

        &:nth-child(2) {
            grid-row-start: 1;
            grid-row-end: 3;

            #{$this}__post-title {
                font-size: 2.2rem;
            }
        }

        &:hover {
            background-color: transparent;

            #{$this}__link {
                color: $white;
            }
        }
    }

    &__link {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        width: 100%;
        height: 100%;
        padding: 2rem;
        color: $white;
    }

    &__post-title {
        margin: 0;
        font-size: 2rem;
        line-height: 1.2;
    }

    &__post-date {
        text-transform: uppercase;
        padding: 0.5rem 0 0;
        font-family: "Montserrat", Arial, 'Helvetica Neue', Helvetica, sans-serif;
        font-weight: 700;
        font-style: italic;
        font-size: 1.4rem;
        text-align: left;
    }

    @media (min-width: $break-wide) {

        &__list {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }

    @media (max-width: $break-desktop) {

        &__list {
            grid-template-columns: 1fr 1fr;
        }

        &__post {

            &:nth-child(2) {
                grid-row-start: unset;
                grid-row-end: unset;
            }
        }
    }

    @media (max-width: $break-tablet) {
        margin: 0 1.4rem 3rem;

        &__list {
            grid-template-rows: 14rem;
            grid-auto-rows: 14rem;
            grid-gap: 1.4rem;
        }

        &__link {
            padding: 1.4rem;
        }

        &__post-title {
            font-size: 1.4rem;
            font-weight: 800;
        }

        &__post-date {
            font-size: 1rem;
            font-weight: 500;
        }

        &__post {

            &:first-child {

                #{$this}__post-title {
                    font-size: 2rem;
                }
            }

            &:nth-child(2) {

                #{$this}__post-title {
                    font-size: 1.4rem;
                }
            }
        }
    }

    @media (max-width: $break-mobile-wide) {

        &__list {
            grid-template-columns: 1fr;
            grid-template-rows: 10rem;
            grid-auto-rows: 10rem;
        }

        &__post:first-child {
            grid-column-end: 1;
        }
    }
}
