.site-header {
    $this: &;

    position: sticky;
    top: 0;
    z-index: $level-two;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: $white;
    align-items: flex-start;
    height: 8rem;
    margin-bottom: 0;
    padding: 0 2rem;

    &__link {
        display: flex;
        align-items: center;
        color: $black;
        text-decoration: none;
    }

    &__logo {
        margin-right: 0.8rem;
    }

    &__outline-text {
        margin-right: .8rem;
        margin-left: 1rem;
        color: transparent;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: $black;
    }

    &--single {
        background-color: transparent;

        #{$this}__link {
            color: $white;
        }

        #{$this}__outline-text {
            -webkit-text-stroke-color: $white;
        }
    }
}
