* {
    box-sizing: border-box;
}

body {
    margin-bottom: 4rem;
}

a {
    color: $stanchion-red;
    text-decoration: none;
    transition: color linear .1s
}

a:hover {
    color: $black;
    text-decoration: none
}

img {
    max-width: 100%
}

img.left {
    padding: .5rem .2rem 1.2rem 0;
    vertical-align: top;
    float: left
}

img.right {
    padding: .5rem 0 1.2rem .2rem;
    float: right
}

p {
    margin: 0 0 2rem 0;
    vertical-align: top;
    display: block;
    clear: both
}

li {
    margin-bottom: .8rem
}

[hidden] {
    display: none
}

blockquote,q {
    quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
    content: none
}

b,strong {
    font-weight: 700
}

em {
    font-weight: 700;
    font-style: italic
}

button {
    font-size: 1.5rem;
    border: none;
    vertical-align: middle;
    line-height: 1.2;
    background-color: transparent;
    appearance: none;
}
