html {
    font-size: 62.5%;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-family: "Montserrat", Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 1.25rem;
    text-transform: uppercase
}

h2,h3,h4,h5,h6 {
    margin-top: 3rem
}

h2 {
    font-size: 3.4rem
}

h3 {
    font-size: 3rem
}

h4 {
    font-size: 2.6rem
}

h5 {
    font-size: 2.2rem
}

h6 {
    font-size: 1.8rem
}

.heading {

    &--site {
        margin: 0;
        font-size: 2.4rem;
        line-height: 1.2;
    }

    &--page {
        font-size: 9rem;
        margin-bottom: 5rem;
        color: #fff
    }
}
